*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
header{
    background: black;
    display: flex;
    width: 100%;
    padding: 0.5rem 8rem;
}
header .logo{
    font-size: 30px;
    font-weight: 700;
    color: skyblue;
}
header .menu{
    margin-top:5px ;
    margin-left: 800px;
}
ul{
    display: flex;
    width: 500;
    margin: auto;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    font-size: 16px;
    font-family: sans-serif;
    color: #fff;
    margin: 0rem 25px;
    letter-spacing: 1px;
    font-weight: 300;
}
ul li a:hover{
    color: skyblue;
}
.menu ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: skyblue;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.menu ul li:hover::after{
    width: 50%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 5rem;
    padding-left: 1rem;
    padding-bottom: 2rem;
}
.container img{
    width: 22rem;
    height: 15rem;
    cursor: pointer;
    margin-left: 1rem;
    margin-bottom: 2rem;

}
.model{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  /* border: 2px solid red; */
  background: rgba(0,0,0,0.7);
  color: #fff;
  z-index: 1;
  /* overflow: auto; */
  overflow: hidden;
  display: none;
}
.conimg{
  margin: auto;
  margin-top: 5rem;
  width: 53%;
}
.img{
  width: 50rem;
  height: 35rem;
}
.model span i{
  position: fixed;
  font-size: 2rem;
  margin-left: 48rem;
}
#cross{
  cursor: pointer;
}
.display{
  display: block;
}
footer {
    padding: 2vmax;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
  }
  
  .leftFooter {
    width: 20%;
    display: flex;
  
    flex-direction: column;
    align-items: center;
  }
  .leftFooter  h4 {
    font-family: "Roboto";
    font-size: 1vmax;
  }
  .leftFooter  p {
    text-align: center;
    font-size: 1.2vmax;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .leftFooter  img {
    width: 10vmax;
    margin: 1vmax;
    cursor: pointer;
  }
  
  .midFooter {
    width: 60%;
  
    text-align: center;
  }
  
  .midFooter  h1 {
    font-size: 4vmax;
    font-family: "Roboto";
    color: skyblue;
  }
  .midFooter  p {
    max-width: 60%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin: 1vmax auto;
  }
  
  .rightFooter {
    width: 20%;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rightFooter  h4 {
    font-family: "Roboto";
    font-size: 1.4vmax;
    text-decoration: underline;
  }
  .rightFooter  a {
    text-decoration: none;
    font-size: 1.3vmax;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: white;
    transition: all 0.5s;
    margin: 0.5vmax;
  }
  
  .rightFooter  a:hover {
    color: skyblue;
  }